body {
    background: #F4F6F5;
    width: 100%;
    max-width: 1440px;
    max-height: 3746px;
    margin: auto;
}
.Desktop_1440 {
    background: #F4F6F5;
    width: 100%;
    max-width: 1440px;
    max-height: 3746px;
}

.header {
    background: #E1EDE6;
    width: 100%;
    max-width: 1440px;
    height: 100px;
    max-height: 100px;
}

.Frame_85 {
    position: relative;
    width: 143px;
    height: 35px;
    top: 33px;
    left: 165px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.Star_1 {
    width: 35px;
    height: 35px;
}
.InkHouse {
    width: 100px;
    height: 23px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Frame_134 {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 470px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 24px;
    left: 805px;
    padding: 0px;
    gap: 60px; 
}
.text_btn_0 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 130px;
    height: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    gap: 10px;
}
.text_btn_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 84px;
    height: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    gap: 10px;
}
.text_btn_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 54px;
    height: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    gap: 10px;
}
.text_btn_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 30px;
}
.hero {
    max-width: 1440px;
    position: relative;
    width: 1440px;
    height: 620px;
    left: 0px;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    gap: 6px;
}
.bird {
    position: absolute;
    width: 540px;
    height: 621px;
    left: 165px;
    top: 0px;
    background: url(assets/bird.png);
}
.Frame_135 {
    position: absolute;
    width: 540px;
    height: 331px;
    left: 735px;
}
.text1 {
    position: absolute;
    width: 540px;
    height: 132px;
    left: 0px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2C2D35;
}
.text2 {
    position: absolute;
    width: 540px;
    height: 54px;
    left: 0px;
    top: 152px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928B;
}
.btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: absolute;
    width: 225px;
    height: 65px;
    left: 0px;
    top: 266px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.catalog {
    position: relative;
    width: 1100px;
    height: 1564px;
    background: #598D66;
    top: 90px;
    left: 165px;
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.Frame_250 {
    width: 1100px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Frame_249 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 428px;
    height: 43px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text3 {
    width: 255px;
    height: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2C2D35;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 126px;
    height: 43px;
    background: #376B44;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #F4F6F5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 126px;
    height: 43px;
    background: #376B44;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #F4F6F5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 126px;
    height: 43px;
    background: #376B44;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #F4F6F5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.drawings {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1110px;
    height: 1490px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Frame_247 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 1110px;
    height: 730px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card1 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card2 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card3 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card4 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card5 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card6 {
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.picture1 {
    position: absolute;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card1.png);
}

.card1txt1 {
    position: absolute;
    height: 21px;
    left: 20px;
    top: 462px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card1txt2 {
    position: absolute;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 493px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card1txt3 {
    position: absolute;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 536px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card1txt4 {
    position: absolute;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 587px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card1txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 635px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}

.picture2 {
    position: absolute;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card2.png);
}

.card2txt1 {
    position: absolute;
    height: 21px;
    left: 20px;
    top: 462px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card2txt2 {
    position: absolute;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 493px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card2txt3 {
    position: absolute;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 536px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card2txt4 {
    position: absolute;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 587px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card2txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 635px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}
.picture3 {
    position: absolute;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card3.png)
}

.card3txt1 {
    position: absolute;
    height: 21px;
    left: 20px;
    top: 462px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card3txt2 {
    position: absolute;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 493px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card3txt3 {
    position: absolute;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 536px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card3txt4 {
    position: absolute;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 587px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card3txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 635px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}
.Frame_246 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 428px;
    height: 43px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.picture4 {
    position: relative;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card4.png);
}
.card4txt1 {
    position: relative;
    height: 21px;
    left: 20px;
    top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card4txt2 {
    position: relative;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card4txt3 {
    position: relative;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 56px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card4txt4 {
    position: relative;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 97px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card4txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: relative;
    left: 20px;
    right: 20px;
    top: 125px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}
.picture5 {
    position: relative;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card5.png);
}
.card5txt1 {
    position: relative;
    height: 21px;
    left: 20px;
    top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card5txt2 {
    position: relative;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card5txt3 {
    position: relative;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 56px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card5txt4 {
    position: relative;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 97px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card5txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: relative;
    left: 20px;
    right: 20px;
    top: 125px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}
.picture6 {
    position: relative;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
    height: 422px;
    width: 310px;
    background: url(assets/card6.png);
}
.card6txt1 {
    position: relative;
    height: 21px;
    left: 20px;
    top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}
.card6txt2 {
    position: relative;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
}
.card6txt3 {
    position: relative;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 56px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}
.card6txt4 {
    position: relative;
    height: 28px;
    left: 20px;
    bottom: 115px;
    top: 97px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}
.card6txt5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    position: relative;
    left: 20px;
    right: 20px;
    top: 125px;
    bottom: 30px;
    border: 1px solid #598D66;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 310px;
    height: 65px;
}