*{
	box-sizing: border-box;
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
}
body {
    background: #F4F6F5;
    width: 100%;
    margin: auto;
}
header{
    background: #E1EDE6;
    width: 100%;
    height: 100px;
    font-size: clamp(0.9em, 1vw, 1em);;
}
.header-inner{
	width: 100%;
	height: 100px;
	max-width: 1440px;
	padding: 0 10px;
	margin:auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo {
	width: 135px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: clamp(1em, 1vw, 1em);;
}
.header_navbar {
    display: flex;
    align-items: center;
    width: calc(100% - 145px);	
	justify-content: flex-end;
}
.menu-button{
	padding: 10px;
	margin: 10px;

}
.menu-button-cart {
    padding: 10px;
	margin: 10px;
}
.mobmenu{
	display: none;
}
.Star_1 {
    width: 35px;
    height: 35px;
}

.InkHouse {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: clamp(1em, 1vw, 1em);;
    font-style: normal;
    line-height: 23px;
    color: #598D66;
}

.hero {
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.bird {
    width: 100%;
    max-height: 620px;
    max-width:540px;
    height: 100%;
    margin-right: 20px;
}
.bird img{
    width: 100%;
    max-height: 620px;
    max-width:540px;
    height: auto;
    background-size: contain;
    margin-right: 20px;
}


.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 540px;
    padding-right: 20px;
    box-sizing: border-box;
}

.hero h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5em, 3vw, 3em);
    line-height: 110%;
    color: #2C2D35;
    margin: 0;
}

.hero h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.9em, 1vw, 0.9em);
    line-height: 150%;
    color: #86928B;
    margin: 10px 0;
}

.hero-text span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5em, 3vw, 3em);
    line-height: 110%;
    color: #598D66;
}


.hero button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;
    width: 225px;
    height: 65px;
    border: 1px solid #598D66;
    background: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1em, 3vw, 1em);
    line-height: 23px;
    color: #598D66;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.hero button:hover {
    background-color: #598D66;
    color: #fff;
}
.catalog {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.catalog-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
}

.catalog-bar-text {
    font-family: 'Raleway';
    font-size: clamp(1.2em,3vw,2em);
    font-weight: 500;
    padding-left: 20px;
    color: #2C2D35;
}

.catalog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.catalog-btn {
    padding: 10px 20px;
    background: #376B44;
    color: #F4F6F5;
    border-radius: 20px;
    font-size: clamp(0.9em,1vw,1em);
    font-weight: 500;
}

.drawings {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #E1EDE6;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.card-text {
    padding: 18px;
}

.creator, .name, .type, .price {
    margin-bottom: 10px;
}
.creator {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em,1vw,0.9em);
    line-height: 21px;
    color: #86928B;
    margin-bottom: 10px;
}
.name {
    font-family: 'Raleway';
    font-style: normal;
    max-width: 310px;
    max-height: 20px;
    font-weight: 500;
    /*font-size: clamp(1.2em,2vw,1.5em);*/
    line-height: 35px;
    color: #2C2D35;
    margin-bottom: 15px;
}
.type {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em,1vw,0.9em);;
    line-height: 21px;
    color: #2C2D35;
    margin-bottom: 20px;
}
.price {
    height: 28px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1em,1vw,1.2em);;
    line-height: 28px;
    color: #598D66;
    margin-bottom: 15px;
}
.card-text button {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 60px;
    width: 100%;
    margin-bottom: 20px;
    gap: 6px;
    border: 1px solid #598D66;
    background: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.9em,1vw,1em);
    line-height: 23px;
    color: #598D66;
}






.promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 574px;
    margin-top: 50px;
    background: url(assets/promo.png);
    flex-direction: column;
}
.promo-inner {
    display: flex;
    width: 100%;	
    margin: auto;
    max-width: 1100px;
    height: 574px;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 50px;
}
.promo-header {
    width: 100%;
    max-width: 521px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.promo-logo {
    width: 80px;
    height: 80px;
    background: url(assets/star2.png);
}
.promo-header-text {
    height: 80px;
    width: 421px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.2em,2vw,2em);;
    line-height: 100%;
    color: #F4F6F5;
}
.promo-text {
    width: 540px;
    height: 209px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em,1vw,0.9em);
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 30px;
}
#promo-text-2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em,1vw,0.9em);
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
}
.promo button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    width: 100%;
    max-width: 257px;
    height: 65px;
    gap: 6px;
    background: #EEDB6D;
    cursor: pointer;
    margin-top: 40px;
    font-size: clamp(0.8em,1vw,0.9em);;
}

.team {
    height: 440px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
}
.team-inner {
    width: 100%;
	height: 440px;
	max-width: 1100px;
	margin:auto;
	display:flex;
	align-items: center;
    gap: 20px;
}

.frame {
    height: 445px;
    background: none;
}
.team-info {
    width: 100%;
    max-width: 635px;
    height: 272px;
}
.team-info h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.2em,2vw,2em);
    line-height: 110%;
    color: #2C2D35;
    margin-top: 0px;
    margin-bottom: 20px;
}
.team-info h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em,1vw,0.9em);
    line-height: 150%;
    color: #2C2D35;
    margin-top: 0px;
    margin-bottom: 20px;
}
.team-photo {
    width: 300px;
    height: 80px;
    margin-bottom: 100px;
}


footer {
    background: #E1EDE6;
    width: 100%;
    height: 168px;
}
.footer-inner {
    width: 100%;
	height: 168px;
	max-width: 1440px;
	padding: 23px;
	margin:auto;
	display:flex;
	justify-content: space-between;
}

.footer-block-0 {
    height: 122px;
}
.footer-block-1 {
    display:flex;
	align-items: center;
    width: 143px;
}
.footer-block-2 {
   padding: 35px 0 0 0;
}
.footer-block-2-2 {
    font-size: clamp(0.8em, 1vw, 0.9em);;
}

.footer-block-3 {
    display:flex;
	justify-content: space-between;
    height: 122px;
    width: 445px;
}
.footer-block-4 {
    height: 68px;
}
.footer-block-4-1 {
    display:flex;
	align-items: center;
	justify-content: space-between;
}
.footer-block-4-2 {
   position: relative;
   top: 10px;
}

.Star_2 {
    width: 35px;
    height: 35px;
}
.InkHouse_2 {
    width: 100px;
    height: 23px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: clamp(1em, 1vw, 1em);
    font-style: normal;
    line-height: 23px;
    color: #598D66;
}

.footer-block-2-1 {
    max-width: 170px;
    height: 23px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1em, 1vw, 1em);;
    line-height: 23px;
    color: #2C2D35;
}

.footer-block-2-2 {
    width: 104px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em, 1vw, 0.9em);;
    line-height: 21px;
    color: #86928B;
}
.footer-block-3 .footer-block-4 {
    display: none;
}
.main-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 130px;
    height: 23px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: clamp(1em, 1vw, 1em);;
    font-weight: 500;
    line-height: 23px;
    color: #2C2D35;
}
.text{
    width: 85px;
    height: 27px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8em, 1vw, 0.9em);;
    line-height: 150%;
    color: #86928B;
}
.small-text {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em,1vw,0.6em);
    line-height: 120%;
    color: #86928B;
}

.icon {
    width: 24px;
    height: 24px;
}


@media only screen and (max-width:1440px) {
    .promo {
        width: 100%;
    }
    .team {
        width: 100%;
    }
}


@media only screen and (max-width: 768px){
  
	.mobmenu{
		display: block;
	}
	.menu-button{
		display: none;
	}
    /*.bird {
        max-width: 330px;
        width: 100%;
        height: 380px;
    }*/
    .hero {
        width: 100%;
        height: 380px;
    }
    .hero-text {
        width: 100%;
        max-width: 330px;
        height: 308px;
        padding-left: 0px;
    }

    .promo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 768px;
        margin: auto;
        height: 502px;
        margin-top: 50px;
        background: url(assets/promo3.png);
    }
    .promo-inner {
        display: flex;
        width: 100%;	
        margin: auto;
        max-width: 1100px;
        height: 502px;
        flex-direction: column;
        padding-top: 70px;
        padding-left: 39px;
    }
    .promo-header {
        width: 100%;
        max-width: 450px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .promo-logo {
        width: 60px;
        height: 60px;
        background: url(assets/star3.png);
    }
    .promo-header-text {
        width: 100%;
        max-width: 370px;
        height: 60px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        color: #F4F6F5;
    }
    .promo-text {
        margin-top: 30px;
        width: 100%;
        max-width: 690px;
        height: 182px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
    }
    #promo-text-2{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: #FFFFFF;
        margin-top: 20px;
    }
    .promo button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 6px;
        width: 210px;
        height: 60px;
        background: #EEDB6D;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        color: #2C2D35;
        cursor: pointer;
        margin-top: 40px;
    }

    .team {
        height: 825px;
        width: 100%;
        max-width: 690px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .team-inner {
        width: 100%;
        height: 825px;
        max-width: 690px;
        margin:auto;
        display:flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .frame {
        height: 504px;
        max-width: 510px;
        background: none;
    }
    .team-info {
        width: 100%;
        max-width: 690px;
        height: 281px;
    }
    .team-info h1 {
        width: 100%;
        max-width: 211px;
        height: 33px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        color: #2C2D35;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .team-info h2 {
        width: 100%;
        max-width: 690px;
        height: 108px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: #2C2D35;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .team-photo {
        width: 300px;
        height: 80px;
        margin-bottom: 100px;
    }

    .catalog {
        width: 100%;
        max-width: 690px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        margin: auto;
        flex-direction: column;
    }
    .catalog-bar {
        width: 100%;
        max-width: 690px;
        height: auto;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 10px;
        
    }
    .catalog-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        padding-left: 20px;
    }
    
    .catalog-bar-text{
        margin: 0 auto;
        width: 194px;
        height: 33px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        color: #2C2D35;
    }

    .catalog-btn {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        width: 100%;
        max-width: 126px;
        height: 43px;
        background: #376B44;
        border-radius: 20px;
        gap: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        color: #F4F6F5;
    }
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .catalog-bar-text {
        font-size: 30px;
        margin: 0px;
    }

    .catalog-btn {
        font-size: 16px;
    }
    .card {
        max-width: 330px;
    }
    .card button {
        height: auto;
        max-height: 50px;
    }
    .main-text {
        font-weight: 500;
        line-height: 23px;
    }
    .team {
        padding-left: 15px;
    }
    .footer-block-2-1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }
    footer {
        height: auto;
    }
    .footer-inner {
        height: auto;
        flex-direction: column;
    }
    .footer-block-0 {
        display: flex;
        justify-content: space-between;
    }
    .footer-block-3 {
        width: 100%;
    }
    .footer-block-3 .footer-block-4 {
        display: flex;
        flex-direction: column;
    }
    .footer-block-4 {
        display: none;
    }
}

@media only screen and (max-width:576px){
    .catalog-bar {
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
    }
    .catalog-buttons {
        justify-content: flex-start;
    }
    footer {
        height: 500px;
    }
  
    .footer-inner {
        gap: 10px;
    }
    .footer-block-3 {
        flex-direction: column;
    }

    .footer-block-0 {
        flex-direction: column;
    }

    .footer-block-4-1 {
        max-width: 132px;
    }
}
@media only screen and (max-width:320px){
    .bird {
        display: none;
    }
}


